*~
*.swp
data/*
figures/*
metadata/*
results/*
notes/*
logs/*
*.csh
*.sbatch
__pycache__
old*
docs/reports/svgpfa_report_20260329/*
!docs/reports/svgpfa_report_20260329/Makefile
!docs/reports/svgpfa_report_20260329/svgpfa_report_20260329.tex
!docs/reports/svgpfa_report_20260329/latentVariablesModels.bib
docs/reports/other/*
!docs/reports/other/Makefile
!docs/reports/other/79151056_full_hessian.tex
!docs/reports/other/gofMeasuresAcrossModels.tex
!docs/reports/other/latentVariablesModels.bib
docs/reports/eval_max_20260726/*
!docs/reports/eval_max_20260726/Makefile
!docs/reports/eval_max_20260726/*.tex
!docs/reports/eval_max_20260726/*.bib
docs/reports/model_params/*
!docs/reports/model_params/Makefile
!docs/reports/model_params/*.tex
!docs/reports/model_params/*.bib
docs/reports/svgpfa_report_20260329/*
!docs/reports/svgpfa_report_20260329/Makefile
!docs/reports/svgpfa_report_20260329/*.tex
!docs/reports/svgpfa_report_20260329/*.bib
docs/reports/testing_accelerated_replay_20260728/*
!docs/reports/testing_accelerated_replay_20260728/Makefile
!docs/reports/testing_accelerated_replay_20260728/*.tex
!docs/reports/testing_accelerated_replay_20260728/*.bib
